/* Variables */
$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size-logo: 1.5em;
$font-size-link: 1.1em;
$font-size-h1: 1.3em;
$font-size-h2: 1.2em;
$font-size-h3: 1.1em;
$font-size-small: 0.9em;
$color-b: #263547;
$color-w: #FFFFFF;
$color-r: #FD4345;
$transition-duration: 0.3s;
$opacity: 0.7;


/* Layout for html page */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    font-family: $font-family;
}

header, footer {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: min-content auto;

    .logo-ql {
        font-size: $font-size-logo;

        a {
            text-decoration: none;
        }

        a:hover {
            opacity: $opacity;
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding-left: 3rem;
        
        a {
            padding: 0rem 1rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: $font-size-link;
            transition-duration: $transition-duration;
        }
        
        a:hover {
            border-bottom: 0.35rem solid $color-r;
            color: $color-r;
        }
    }
}

header {
    color: $color-b;
    
    a {
        color: $color-b;
    }
}

footer {
    color: $color-w;
    background-color: $color-b;

    a {
        color: $color-w;
    }
}

/* Mobiles devices */

@media screen and (max-width:700px) {

    header, footer {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;

        nav {
            justify-content: center;
            row-gap: 0.5rem;
            height: auto;
            padding-left: 0rem;
        }
    }

    footer {
        flex-direction: column-reverse;
        }
}